*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #c2e59c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    



}

.top76{
    width: 21.5rem;
    height: 5.5;
    border-radius: 20px;
}
.video{
    width: 21.5rem;
    height: 12.5rem;
    border-radius: 20px;
}

.story{
    width: 21.5rem;
    height: 12.5rem;
    border-radius: 20px;

}
h3{
    cursor: pointer;
  
    color: crimson;
  
    border-radius: 7px;
    margin-top: 5px;
}
h3:hover{
    opacity: 0.4;
    color: blue;
}

.navbar-brand{

    color:red;
    font-size: 30px;
}
.nav-link{
    color: crimson;
    font-size: larger;
}
